/* .globalStyle-container{
    position: relative;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    background-color: black;
    
    
}

.positif-container{
    background-color: orange;
    position: relative;
    width: 100px;
    height: 100px;
    float: left;
    margin: 15px;
    padding: 20px;

   
}

.sembuh-container{
    background-color: orange;
    position: relative;
    width: 100px;
    height: 100px;
    float: left;
    margin: 15px;
    padding: 20px;
}

.meninggal-container{
    background-color: orange;
    position: relative;
    width: 100px;
    height: 100px;
    float: left;
    margin: 15px;
    padding: 20px;
} */

.globalStyle-container{
    flex: 1px;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    position: relative;
    text-align : center;
    font-size: 20;
    font-weight : bold;
    float: left;
}

.positif-container{
    height : 70px;
    width : 125px;
    position: relative;
    background-color : orange;
    border-top-left-radius: 20px;
    border-top-right-radius : 20px;
    border-bottom-left-radius : 20px;
    border-bottom-right-radius : 20px;
    float: left;
    left: 10px;
}

.sembuh-container{
    position: relative;
    height : 70px;
    width : 125px;
    background-color : green;
    border-top-left-radius: 20px;
    border-top-right-radius : 20px;
    border-bottom-left-radius : 20px;
    border-bottom-right-radius : 20px;
    float: left;
    left: 20px;
}

.meninggal-container{
    height : 70px;
    width : 125px;
    position: relative;
    background-color : red;
    border-top-left-radius: 20px;
    border-top-right-radius : 20px;
    border-bottom-left-radius : 20px;
    border-bottom-right-radius : 20px;
    float: left;
    left: 30px;
}

